<nav>
  <section>
    <div class="brand" routerLink="/">
      <div class="brand-img">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/768px-Angular_full_color_logo.svg.png"
          alt="brand-logo"
        />
      </div>
      <div class="brand-name">ngular</div>
    </div>
  </section>
  <section>
    <ul>
      <li
        *ngFor="let menuItem of menuItems"
        [routerLink]="menuItem.link"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-item-link"
      >
        {{ menuItem.label }}
      </li>
    </ul>
  </section>
</nav>
